@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
body {
  padding: 0px;
  margin: 0px;
  background-color: #363740;
  font-family: "Inter";
}
a {
  text-decoration: none;
  padding: 10px;
  color: #363740;
}
#bg-image {
  width: 100%;
  height: 99.5vh;
  object-fit: cover;
  opacity: 0.25;
}

#main-card {
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  border-radius: 33px;
}

.tab-panels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-panels input {
  padding: 8px 16px;
  width: 280px;
  padding-right: 30px;
  border-radius: 5px;
  font-family: "Inter";
  font-weight: 400;
}

.tab-panels img {
  position: relative;
  right: 30px;
}
h1 {
  font-family: "Arsenal";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  margin: 20px 0px 35px 0px;
  /* Dark BG */

  color: #363740;
}
#email-input,
#password-input {
  display: flex;
  justify-content: space-around;
  margin: 20px 123px 10px 150px;
  width: auto;
}

#submitBtn {
  border-radius: 16px;
  background-color: #363740;
  margin: 45px 200px 65px 200px;
  width: 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  letter-spacing: 0.2px;
  font-family: "Inter";
}

.nav-sidebar p {
  color: #a4a6b3;
  font-family: "Mulish";
  font-size: 16px;
}

.main-body {
  background-color: #f7f8fc;
}

.dashboard {
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
}

.card-area {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #363740;
  margin: 30px;
  border-radius: 10px;
  font-family: "Mulish";
  padding: 10px;
}

.card-header {
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.sort,
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header img {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}

h2 {
  margin: 20px 20px;
}

.column-name {
  display: grid;
  grid-template-columns: 8fr 2fr;
  margin-left: 30px;
  font-weight: bold;
}

p {
  margin: 20px;
  display: inline-block;
}

.company-list-ul {
  list-style-type: none;
  padding: 0px;
}

.company,
.date {
  display: flex;
  justify-content: space-between;
}

.company-list-ul li {
  list-style-position: inside;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px 30px;
}

.navigation-item {
  display: flex;
  justify-content: flex-start;
  padding: 0px 20px;
}

.navigation-item :hover {
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.page-header h1 {
  text-align: left;
  padding: 0px 30px;
}

.page-header p {
  padding: 0px 10px;
}

#date-text {
  text-align: right;
  margin-right: 70px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 10px;
}

.logo p {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.logo img {
  width: 30px;
  height: 30px;
}

.tab-switch {
  padding: 10px;
  margin: 10px 10px 10px 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #363740;
  border: 0px;
  border-bottom: 4px solid #ffffff;
  background-color: #ffffff;
}

.tab-content {
  margin: 30px 0px;
}

.tab-switch:active {
  border-bottom: 4px solid #363740;
}

.tab-switch:hover {
  cursor: pointer;
}

#page-title {
  display: flex;
  flex-direction: column;
}
#page-title h1,
#page-title p,
#icon-section img,
#icon-section div {
  max-width: max-content;
}

#page-title h1 {
  margin: 20px 0px 0px 0px;
}

#notif {
  background-color: #363740;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  grid-row: 2;
  grid-column: 2;
}

.page-header {
  display: grid;
  grid-template-columns: auto auto auto;
}

#profile-section img {
  max-width: 50px;
  max-height: 50px;
}

#icon-section,
#profile-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto 1fr;
}
#profile-section {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: 1fr auto 1fr;
}
#icon-section p {
  margin: 8px 8px 8px 0px;
  padding: 0px 10px 0px 0px;
}

#icon-section img {
  grid-row: 2;
  margin: 8px;
}

#profile-section p {
  grid-row: 2;
  grid-column: 2;
  max-width: max-content;
  margin: 10px;
  padding: 10px;
  text-align: right;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
}

#profile-section img {
  grid-row: 2;
  grid-column: 3;
  border-radius: 50%;
  border: 2px solid #363740;
}

#profile-section img:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sort p,
.filter p {
  margin: 0px;
}
.sort img,
.filter img {
  max-width: 16px;
  max-height: 16px;
}

#options {
  display: grid;
  grid-template-columns: auto auto;
}
